.right-container{
    flex: 3;

    .right-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2%;

        .active{
            color: bisque;
        }

        .right-nav-list{
            list-style: none;

            display: flex;
            gap: 20px;

            .nav-items{
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: 10px;
                p{
                    font-size: 12px;
                }
            }

        }
    }
}