.right-container{
    flex: 3;

    .right-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2%;

        .right-nav-list{
            list-style: none;

            display: flex;
            gap: 20px;

            .nav-items{
                cursor: pointer;
            }

        }
    }
}