.left-container{
    flex: 1;

    .left-nav{
        display: flex;
        flex-direction: column;

        .left-nav-item{
            display: flex;
            gap: 10px;
        }
    }

    .left-main{
        list-style: none;
        .left-main-grp{
            display: flex;
            align-items: center;
            justify-content: space-between;

            position: relative;

            .btn-overlay{
                position: absolute;
                inset: 0;

                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;

                opacity: 0;
                transition: 0.5s all;
                &:hover{
                    opacity: 1;
                }

                .btn{
                    height:25px;
                    outline: none;
                    cursor: pointer;
                    border: 1px solid #333333;
                    border-radius: 5px;
                    padding: 2% 4%;

                    display: flex;
                    align-items: center;
                }
                .sell-btn{
                    background-color: rgb(255, 132, 0);
                }
                .buy-btn{
                    background-color: lightblue;
                }
                .rmv-btn{
                    background-color: #333333;
                }
            }
        }

    }

}