.left-container{
    flex: 1;

    .left-nav{
        display: flex;
        flex-direction: column;

        .left-nav-item{
            display: flex;
            gap: 10px;
        }
    }

    .left-main{
        list-style: none;
        .left-main-grp{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }

}